{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false,
      "dynamicImport": false,
      "privateMethod": true,
      "functionBind": false,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": false,
      "decoratorsBeforeExport": false,
      "topLevelAwait": false,
      "importMeta": false
    },
    "baseUrl": ".",
    "transform": null,
    "target": "es2016",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true,
    "preserveAllComments": true,
    "paths": {
      "@/*": ["./src/*"],
      "@static/*": ["./static/*"]
    }
  },
  "exclude": ["src/tests", ".test.js"],
  "minify": false,
  "sourceMaps": true
}
