<div class="auth-type-radio">
  {{#if isEmailOnFirstPosition}}
    <label class="auth-type-radio__radio-label">
      <input
        class="auth-type-radio__radio-input"
        type="radio"
        name="authType"
        value="email"
        checked
        required
      />
      <div class="auth-type-radio__radio-content">E-mail</div>
      <div class="auth-type-radio__radio-content-icon">
        {{> svg-icon width="17" height="16" name='email' }}
      </div>
    </label>
    <label class="auth-type-radio__radio-label">
      <input
        class="auth-type-radio__radio-input"
        type="radio"
        name="authType"
        value="tel"
        required
      />
      <div class="auth-type-radio__radio-content">Telefon</div>
      <div class="auth-type-radio__radio-content-icon">
        {{> svg-icon width="17" height="16" name='telephone' }}
      </div>
    </label>
  {{else}}
    <label class="auth-type-radio__radio-label">
      <input
        class="auth-type-radio__radio-input"
        type="radio"
        name="authType"
        value="tel"
        checked
        required
      />
      <div class="auth-type-radio__radio-content">Telefon</div>
      <div class="auth-type-radio__radio-content-icon">
        {{> svg-icon width="17" height="16" name='telephone' }}
      </div>
    </label>
    <label class="auth-type-radio__radio-label">
      <input
        class="auth-type-radio__radio-input"
        type="radio"
        name="authType"
        value="email"
        required
      />
      <div class="auth-type-radio__radio-content">E-mail</div>
      <div class="auth-type-radio__radio-content-icon">
        {{> svg-icon width="17" height="16" name='email' }}
      </div>
    </label>
  {{/if}}
</div>
